@font-face {
	font-family: 'Open Sans';
	src: url('../type/OpenSans-Regular.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../type/OpenSans-Semibold.ttf');
	font-weight: bold;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../type/OpenSans-Italic.ttf');
	font-style: italic;
}

body {
	font: normal 16px 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

img {
	display: block;
	margin: 0px;
	border: 0px;
}

.clear {
	clear: both;
	height: 0.5px;
}